<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CaherdavinCollege.Properties.Settings.CaherdavinCollegeConnectionString"
            connectionString="Data Source=SQL1.student.litdom.lit.ie\INST18SDT8;Initial Catalog=CaherdavinCollege;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>